*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

.capital{
  text-transform: capitalize;
}

.item{
  display:inline-block;
  position: relative;
  width: 20%;
  margin: 1.6% !important;
  height: 30vh;
  text-align: center;
}

.result{
  height: 100vh;

}

.item>img{
  margin:auto;
}

.iconoPoke{
  width:20px;
}

.title{
  color:red;
  text-align: center;
}

.trapecio{
  position: absolute;
  bottom: 0;
  left:0;
  width: 180px;
  height: 0;
  border-right: 40px solid transparent;
  border-left: 40px solid transparent;
  border-bottom: 60px solid white;
}

#img01{
  width: 20%;
  position:absolute;
  left:6rem;
}

.modalWhite{
  background-color: white;
  width:50%;
  height: 50vh;
  position: absolute;
  top: 7rem;
  left: 26rem;
}

.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color:rgba(0,0,0,0.4); /* Fallback color */
  }


/* boton cerrar el modal */
#close {
    position: absolute;
    top: 5rem;
    right: 26rem;
    z-index: 2;
    color: #9e9e9e;
    font-size: 60px;
    font-weight: 100;
    transition: 0.3s;
}

.divAZ{
  position: relative;
  top: 24px;
}

.desc1{
  width: 50%;
  position: absolute;
  left:50%;
}

#close:hover,
#close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


.cerrar{
  cursor:pointer;
  padding:10px;
  border-radius: 14%;
}


.parrafomod{
  width:50%;
  margin:0 auto;
  text-align: center;
  height: 200px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.parrafomod>p{
  font-size: 1.2em;
  line-height: 22px;
}


.fa-times{
  margin-right: 5px;
}

/* 100% imagen en la pantalla */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
